ncaab-daily-picks.json
{"updatedAt":"2026-03-17T01:34:03.973Z","createdAt":"2026-03-17T00:44:03.278Z","id":"6RvJGco7rwMl2mJN","name":"My workflow 2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"f46c5538-7080-4878-9947-cb1947ba0795","name":"Schedule Trigger"},{"parameters":{"jsCode":"const { execSync } = require('child_process');\n\n  const output = execSync(\n    'cd /Users/nicholaskernaghan/Desktop/ncaab-bot && python3 main.py',\n    { encoding: 'utf8', timeout: 120000 }\n  );\n\n  return [{ json: { output } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"b4f1feb3-0b0c-4712-abc8-6f11362645aa","name":"Code in JavaScript"},{"parameters":{"fromEmail":"nicholaskernaghan@gmail.com","toEmail":"=nicholaskernaghan@gmail.com , collinaraque@gmail.com , penquino622@yahoo.com , Bentswanick3@gmail.com , Bmhoward21@icloud.com , Lukegiardina95@gmail.com , Lukegiardina95@gmail.com , Gjtothsc@gmail.com , Fdonelan0@gmail.com , \n","subject":"=NCAAB Daily Picks — {{ $now.toFormat('MMMM d, yyyy')}}","emailFormat":"text","text":"={{ $json.output}}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[416,0],"id":"39e692cc-e5ab-4839-bc98-55b7f93cc2aa","name":"Send an Email","webhookId":"f21cdfd6-e89b-4120-90c3-18c5a2a157aa","credentials":{"smtp":{"id":"z4dthZkWaoVVRqa2","name":"SMTP account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Send an Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d532edb5-cccd-4c77-903f-67534c6949fe","activeVersionId":"e6c868cb-7412-4dc8-b619-07e8fe592e96","versionCounter":38,"triggerCount":1,"shared":[{"updatedAt":"2026-03-17T00:44:03.281Z","createdAt":"2026-03-17T00:44:03.281Z","role":"workflow:owner","workflowId":"6RvJGco7rwMl2mJN","projectId":"c4GzEPWBm6kwbRAm","project":{"updatedAt":"2026-03-16T01:14:08.567Z","createdAt":"2026-03-16T01:10:44.468Z","id":"c4GzEPWBm6kwbRAm","name":"Nick Kernaghan <nicholaskernaghan@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ab277492-abf6-43ae-ab51-05bd70981d9a"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-17T01:20:34.000Z","createdAt":"2026-03-17T01:17:16.853Z","versionId":"e6c868cb-7412-4dc8-b619-07e8fe592e96","workflowId":"6RvJGco7rwMl2mJN","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"f46c5538-7080-4878-9947-cb1947ba0795","name":"Schedule Trigger"},{"parameters":{"jsCode":"const { execSync } = require('child_process');\n\n  const output = execSync(\n    'cd /Users/nicholaskernaghan/Desktop/ncaab-bot && python3 main.py',\n    { encoding: 'utf8', timeout: 120000 }\n  );\n\n  return [{ json: { output } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"b4f1feb3-0b0c-4712-abc8-6f11362645aa","name":"Code in JavaScript"},{"parameters":{"fromEmail":"nicholaskernaghan@gmail.com","toEmail":"=nicholaskernaghan@gmail.com , collinaraque@gmail.com , penquino622@yahoo.com ","subject":"=NCAAB Daily Picks — {{ $now.toFormat('MMMM d, yyyy')}}","emailFormat":"text","text":"={{ $json.output}}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[416,0],"id":"39e692cc-e5ab-4839-bc98-55b7f93cc2aa","name":"Send an Email","webhookId":"f21cdfd6-e89b-4120-90c3-18c5a2a157aa","credentials":{"smtp":{"id":"z4dthZkWaoVVRqa2","name":"SMTP account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Send an Email","type":"main","index":0}]]}},"authors":"Nick Kernaghan","name":"ncaab bot ","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-17T01:20:34.975Z","id":1,"workflowId":"6RvJGco7rwMl2mJN","versionId":"e6c868cb-7412-4dc8-b619-07e8fe592e96","event":"activated","userId":"ab277492-abf6-43ae-ab51-05bd70981d9a"}]}}